*{
  outline: none;
}

.App {
  text-align: center;
}

.container{
  height: 100vh;
  box-sizing: border-box;
  background-color: rgba(28,18,75,1);
  padding: 125px 30px;
}
.container .content{
  height: 525px;  
  padding: 10px;
  border-radius: 10px;
  background-color: #DDDDDD;
}

button{
  margin: 3px;
  padding: 3px 10px;
  border: none;
  background-color: rgba(28,18,75,1);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}